Repository oxopolitics-internship-for-codestates/Osori, pull requests merged in 2022-08, with the labels that each got.

#33 [Client] / # 20, # 21 / 지도 영역 드래그를 통한 viewbox 이동 구현,버그픽스
  client/src/components/MapArea.tsx
  client/src/components/map/Korea.tsx
  client/src/components/map/Seoul.tsx
Labels: client

#35 [Front] #10, #11 / pie chart 위치 수정, 남녀 응답 수치 box 추가
  client/src/components/Chart.tsx
Labels: E: 3.0h, client

#40 [Front] 차트 컴포넌트 분할 및 위치 수정
  client/src/components/Chart.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/chart/StaticsBox.tsx
Labels: client

#41 [Client] / # 37 / 지도영역의 입력 데이터 구조 정리 및 코드 정리
  client/src/components/ColorBar.tsx
  client/src/components/MapArea.tsx
  client/src/components/map/Korea.tsx
  client/src/components/map/Seoul.tsx
  client/src/etc/randomPick.tsx
Labels: client, "review-needed"

#46 [Front] 성별 응답 수치 추가 및 차트 디자인
  client/src/components/Chart.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/chart/StaticsBox.tsx
Labels: client

#47 Design: 로딩페이지 텍스트 애니메이션 효과 적용
  client/src/App.tsx
  client/src/assets/images/scandi-123.png
  client/src/pages/LoadingPage.tsx
  client/src/pages/StaticPage.tsx
  client/src/pages/StatisticsWaiting.tsx
  server/.env
  server/node_modules/@nestjs/core/Readme.md
  server/node_modules/@nestjs/core/helpers/external-context-creator.js
  server/package-lock.json
  server/package.json
Labels: client

#48 Fix: 로딩페이지 코드 오타 수정
  client/src/pages/LoadingPage.tsx
Labels: client

#53 [Fornt] piechart 애니메이션 수정
  client/src/components/Chart.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/chart/StaticsBox.tsx
  package-lock.json
Labels: client

#54 [Front] VictoryTooltip warning 해결 / [Back] 타입 value 대문자에서 소문자로 수정
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  server/src/schema/static.schema.ts
Labels: client, server

#56 Feat: 이슈카드 컴포넌트와 이슈카드 페이지 추가
  client/src/assets/images/issueImg.png
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
  client/tsconfig.json
Labels: client

#57 [Feat]_Feat_이슈카드 컴포넌트와 이슈카드 페이지 추가
  client/src/assets/images/issueImg.png
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
  client/tsconfig.json
Labels: client

#59 [Front] ESLint + airbnb + Prettier Setting
  client/.eslintrc.js
  client/.prettierrc
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/Chart.tsx
  client/src/components/ColorBar.tsx
  client/src/components/MapArea.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/chart/StaticsBox.tsx
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/components/map/Korea.tsx
  client/src/components/map/Seoul.tsx
  client/src/etc/randomPick.tsx
  client/src/index.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/LoadingPage.tsx
  client/src/pages/StaticPage.tsx
  client/src/pages/StatisticsWaiting.tsx
Labels: client

#60 [Front]_update_lint 수정
  client/.eslintrc.js
  client/src/components/Chart.tsx
  client/src/components/ColorBar.tsx
  client/src/components/MapArea.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/map/Korea.tsx
  client/src/components/map/Seoul.tsx
  client/src/etc/randomPick.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#61 [Front / Back] Lint 2차 수정 및 불필요 dependencies 삭제
  client/src/App.tsx
  client/src/components/MapArea.tsx
  client/src/components/map/Korea.tsx
  client/src/components/map/Seoul.tsx
  server/package.json
Labels: client, server

#71 [Front]_update_애니메이션 수정, aixos 요청 진행중
  client/src/components/Chart.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#74 [Client] / #73 / Map 영역 서버와 연동시키기
  client/src/components/MapArea.tsx
  client/src/components/map/Korea.tsx
Labels: client

#77 [Client] #76 Chart 영역 server와 연동
  client/public/index.html
  client/public/osori_favicon.ico
  client/src/components/Chart.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/chart/StaticsBox.tsx
Labels: client

#79 [Client]_Update_컬러바 위치수정, 글 색상 수정
  client/src/components/ColorBar.tsx
  client/src/components/MapArea.tsx
Labels: client

#80 [Client] 주석 제거 및 전체 font color 통일
  client/src/components/map/Korea.tsx
  client/src/index.css
Labels: client

#81 [Front]_Feat_이슈카드 페이지 추가
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/assets/images/up-arrow.png
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/components/waiting/StatisticsWaiting.tsx
  client/src/etc/DummyIssue.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#82 [Back]_이슈페이지 통계페이지 연결, 탑 버튼 기능 복구
  client/src/App.tsx
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
  server/src/stats/stats.controller.ts
Labels: client

#85 [Client] 페이지 전환시 스크롤 유지
  client/src/App.tsx
  client/src/components/MapArea.tsx
  client/src/components/issues/Issues.tsx
  client/src/components/waiting/StatisticsWaiting.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#88 [Client] #86 / Osori Logo 추가
  client/src/assets/images/osori-logo.png
  client/src/components/issues/IssueNav.tsx
Labels: E: 0.5h, client

#89 [Front]_Update_이슈카드 버튼 수정
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
Labels: client

#90 [Client / server] 브랜치 업데이트 feature -> dev
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/public/osori_favicon.ico
  client/src/App.tsx
  client/src/assets/images/osori-logo.png
  client/src/assets/images/up-arrow.png
  client/src/components/Chart.tsx
  client/src/components/ColorBar.tsx
  client/src/components/MapArea.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/chart/OverallResponseRate.tsx
  client/src/components/chart/StaticsBox.tsx
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/components/map/Korea.tsx
  client/src/components/waiting/StatisticsWaiting.tsx
  client/src/etc/DummyIssue.tsx
  client/src/index.css
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
  server/src/stats/stats.controller.ts
Labels: client

#91 [Front]_Feat_Editor페이지 추가, 이슈 이미지 변경
  client/src/App.tsx
  client/src/assets/images/IssueImage.png
  client/src/assets/images/issueImg.png
  client/src/components/editor/Editor.tsx
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/etc/DummyIssue.tsx
  client/src/pages/IssuePage.tsx
Labels: client

#93 [Client] 로그인/아웃 버튼, 글쓰기 버튼, back 버튼 수정
  client/src/assets/images/icon-back.png
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#92 [Back] / #87 / 이슈별 통계 조회 가능하게 수정하기.
  client/src/App.tsx
  client/src/components/Chart.tsx
  client/src/components/MapArea.tsx
  client/src/components/issues/Issues.tsx
  client/src/components/map/Korea.tsx
  client/src/components/map/Seoul.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
  server/database/mkDummy.ts
  server/etc/randomPick.ts
  server/src/dto/issue.info.dto.ts
  server/src/dto/stats.mapdata.dto.ts
  server/src/dto/stats.regiondata.dto.ts
  server/src/dto/user.userinfo.dto.ts
  server/src/issue/issue.controller.ts
  server/src/issue/issue.service.ts
  server/src/main.ts
  server/src/schema/stats.schema.ts
  server/src/stats/stats.controller.ts
  server/src/stats/stats.service.ts
  server/src/users/users.controller.ts
  server/src/users/users.service.ts
Labels: client

#95 [Front]_Update_이슈카드 수정, IssueNav 이미지 수정
  client/src/assets/images/IssueImage.png
  client/src/assets/images/issueImg.png
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#97 [Client] merge conflict 해결 후 코드 업데이트
  client/src/components/issues/IssueNav.tsx
Labels: client

#99 [Front]_Feat_글쓰기 버튼 클릭 시 글쓰기 모달 창 추가
  client/src/components/editor/Editor.tsx
  client/src/components/editor/EditorModal.tsx
  client/src/components/issues/IssueNav.tsx
  client/src/etc/DummyIssue.tsx
  client/src/pages/IssuePage.tsx
  package-lock.json
  server/package-lock.json
Labels: client

#100 [Client] Editor 버튼 이동, CSS 일부 수정
  client/src/components/editor/Editor.tsx
  client/src/components/editor/EditorModal.tsx
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
  client/src/pages/IssuePage.tsx
  client/src/pages/LoadingPage.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#103 [Client]_Update_글쓰기 작성 모달 디자인 변경
  client/src/components/editor/Editor.tsx
Labels: client

#104 [Client] 이슈카드 수정
  client/src/components/issues/IssueNav.tsx
  client/src/components/issues/Issues.tsx
Labels: client

#105 [Front]_update_merge conflict 해결 후 코드 수정
  client/src/components/issues/IssueNav.tsx
Labels: client

#107 [Client]_update_빈 칸 알림 메세지 CSS 수정
  client/src/components/editor/Editor.tsx
Labels: client

#108 [Front]_Update_글쓰기 모달 버튼 크기와 위치 수정 & ResponseFrame border-radius 설정
  client/src/components/editor/Editor.tsx
Labels: client

#111 [Client]_Update_ IssueNav 버튼 애니메이션 수정
  client/src/components/MapArea.tsx
  client/src/components/chart/GenderResponseRate.tsx
  client/src/components/issues/IssueNav.tsx
  client/src/etc/DummyIssue.tsx
  client/src/pages/StaticPage.tsx
Labels: client

#112 [Front]_Update_IssuePage, StaticPage, IssueNav, Issues, Editor
  client/src/App.tsx
  client/src/components/editor/Editor.tsx
  client/src/components/editor/EditorModal.tsx
  client/src/pages/IssuePage.tsx
Labels: client

#113 [Client]_Fix_ 미 로그인 시 응답 버튼 axios요청 제한
  client/src/components/issues/Issues.tsx
Labels: client
